.main-nav__list {
  @include reset-ul;
  text-align: center;
  margin: 0;
}

.main-nav__item {
  font-size: 20px;
  font-family: $second-font;
  line-height: 20px;
  text-transform: uppercase;
  color: $contrast-color;
  background-color: $basic-color;
  border-top: 1px solid $border-color;
}

.main-nav__link {
  color: $contrast-color;
  text-decoration: none;
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    justify-content: flex-end;
  }

  .main-nav__item {
    font-size: 18px;
    line-height: 24px;
    border-top: none;
    background: none;
  }

  .main-nav__link {
    padding: 12px 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__link {
    font-size: 20px;
    line-height: 30px;
  }

  .main-nav__link--light {
    color: $basic-color;
  }

  .main-nav__list {
    gap: 5px 33px;
  }
}
