/* page */
.page {
  height: 100%;
  font-size: 14px;
  font-family: $primary-font;
  line-height: 18px;
  font-weight: 400;
  color: $special-dark-secondary-contrast-color;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $basic-color;
  display: flex;
  flex-direction: column;
}


@media (min-width: $tablet-width) {
  .page__header {
    margin: 25px 34px 25px 30px;
  }
}

@media (min-width: $desktop-width) {
  .page__header--with-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
}
